.TW_UI_tabHeaderContainer {
    width: 100%;
    /* overflow: hidden; */
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    height: 40px;
}
.TW_UI_tabItem {
    float: left;
    height: 40px;
    line-height: 40px;
    padding:0 20px;
    font-size: 14px;
    color: #0d1a26;
    transition: all .4s;
    text-align: center;
}
.TW_UI_tabItemDefault {
    cursor: pointer;
}
.TW_UI_tabItemDefault:hover {
    color: #40a9ff;
}
.TW_UI_tabAnchor {
    position: absolute;
    bottom: -1px;
    height: 2px;
    width: 60px;
    will-change: transform;
    background: #40a9ff;
    transition: all .5s;
}
.TW_UI_tabPanelContainer {
    width: inherit;
    overflow: hidden;
}
.TW_UI_tabPanelWrap .TW_UI_tabPanelItem {
    flex: 1;
}
.TW_UI_tabPanelWrap {
    display: flex;    
    will-change: transform;
    transform-style: preserve-3d;
    transition: all .3s;
    margin: 20px 0;
    transform: translate3d(0,0,0);
}
.TW_UI_tabCurrent_true{
    color: #40a9ff;
}
.TW_UI_tabItemDisabled {
    cursor: not-allowed;
    color: #d4d4d4;
}