.componentContainer{
  margin-top: 20px;
  display: flex;
}
.rightComponent{
  margin-left: 20px;
  flex:1;
}
.componentList{
  width: 240px;
  padding-left: 40px;
  border-right: 1px solid #e8e8e8
}
.componentList a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    border-right: 3px solid transparent;
    transition: all .2s;
    position: relative;
}
a .TW_UI_author {
  position: absolute;
  right:5px;
  font-size: 13px;
  line-height: 25px;
  /* color: #0d1a26; */
}
a:link{
  color: #40a9ff;
}
a:visited{
  color: #40a9ff;
}
a:hover{
  color: #ff4d4f;
}
a:active{
  color: #40a9ff;
}
a.active{
  color: #40a9ff;
  background: #ff4d4f8f;
  color:white;
  border-right: 3px solid #ff4d4f;
}
.__componentDetail{
  flex: 1;
}
